* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

body, html {
    color: #fff;
    cursor: default;
    font: 300 16px sans-serif;
    margin: 0px;
    width: 100%;
}

body {
    background: transparent;
    padding: 0px 24px;
}

html {
    background-color: #000;
    background-image: url('images/bggrass.svg'), url('images/bgstar.svg');
    background-position: center bottom, center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.h1 {
    font: 400 96px sans-serif;
}

.h2 {
    font: 600 72px sans-serif;
}

.h3 {
    font: 400 24px sans-serif;
}

.oct {
    font-size: 18px;
    margin: 120px 0px;
    max-width: 480px;
    min-width: 240px;
    text-align: center;
    width: 48%;
}

.oct img {
    width: 100%;
}

#colab {
    margin-left: auto;
}

#fun {
    margin-left: auto;
    margin-right: auto;
}

#food {
    margin-right: auto;
}

#lot .h2 {
    line-height: 168px;
    text-align: center;
}

#swags {
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#yesNo {
    text-align: center;    
}

#buttons button {
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    font: 400 36px sans-serif;
    margin-bottom: 48px;
    max-width: 360px;
    padding: 48px;
    vertical-align: middle;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .h1 {
        font: 400 120px sans-serif;
    }
    
    .h2 {
        font: 600 84px sans-serif;
    }
    
    .h3 {
        font: 400 36px sans-serif;
    }

    #swags {
        width: 72%;
    }

    #buttons button {
        margin: 0px 24px 48px;
    }
}

@media only screen and (min-width: 840px) {
    .h1 {
        font: 400 160px sans-serif;
        max-width: 72%;
    }
}

@media only screen and (min-width: 1200px) {
    .h1 {
        font: 400 216px sans-serif;
    }
}