@font-face {
    font-family: 'Phantom Sans';
    src: url('https://hackclub.com/fonts/Phantom_Sans_0.4/Regular.woff') format('woff'), url('https://hackclub.com/fonts/Phantom_Sans_0.4/Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('https://hackclub.com/fonts/Phantom_Sans_0.4/Bold.woff') format('woff'), url('https://hackclub.com/fonts/Phantom_Sans_0.4/Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url(docs/rubik.ttf);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a[href="mailto:help@hackcamp.tech"] {
    border-bottom: 3px dotted #fff;
}

a.btn[href="mailto:help@hackcamp.tech"] {
    border-bottom: none;
}

body, html {
    color: #fff;
    cursor: default;
    font: normal 24px 'Rubik', sans-serif;
    margin: 0px;
    text-align: center;
    width: 100%;
}

body {
    background: #00000066;
    padding: 6px 24px 60px 24px;
}

h1 {
    font: bold 60px 'Phantom Sans', sans-serif;
    margin: 0px;
}

h2 {
    font: bold 48px 'Phantom Sans', sans-serif;
}

html {
    background-color: #002844;
    background-image: url('images/bgstar.svg');
}

p {
    letter-spacing: 1px;
    line-height: 30px;
    margin: 12px auto 0px auto;
    max-width: 600px;
}

section {
    margin-bottom: 84px;
}

.anim {
    opacity: 0;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
    transform: translateY(60px);
}

.anim.animate {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: opacity 1s, transform 1s;
    -moz-transition: opacity 1s, transform 1s;
    -o-transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s;
}

.banner {
    max-width: 36vw;
    position: absolute;
    top: 0px;
    width: 180px;
}

.banner#banner-hackclub {
    left: 10px;
}

.banner#banner-mlh {
    right: 10px;
}

.banner img {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    vertical-align: top;
    height: 100%;
    width: 100%;
}

.banner.animate img {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: opacity 1s, transform 1s;
    -moz-transition: opacity 1s, transform 1s;
    -o-transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s;
}

.btn {
    background: #FF8B30;
    border-radius: 12px;
    font: bold 24px 'Rubik', sans-serif;
    padding: 18px;
}

.btnpgh {
    margin-top: 48px;
}

.highlight {
    color: #FF8B30;
}

.icons {
    display: inline-block;
    margin: 48px 24px;
    text-align: center;
    width: 120px;
}

.icons img {
    height: 100%;
    width: 100%;
}

.vl {
    background: linear-gradient(transparent, #FF8B30, #FF8B30, #FF8B30, transparent);
    height: 60px;
    margin: 24px auto;
    width: 3px;
}

.vl.long {
    height: 120px;
}

#header {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
    margin-top: 60px;
}

#header img {
    height: 100%;
    max-width: 240px;
    width: 82vw;
}

#header .sub {
    font: bold 30px 'Rubik', sans-serif;
    letter-spacing: 6px;
    margin: 0px 0px 36px 0px;
}

#faq h3 {
    -ms-touch-action: none;
    touch-action: none;
    color: #FF8B30;
    cursor: pointer;
}

#faq p {
    font-size: 0px;
    line-height: 0px;
    -webkit-transition: font-size .3s;
    -moz-transition: font-size .3s;
    -o-transition: font-size .3s;
    transition: font-size .3s;
}

#faq p a {
    border-bottom: none;
}

#faq p.reveal {
    font-size: inherit;
    line-height: inherit;
}

#faq p.reveal a {
    border-bottom: 3px dotted #fff;
}

#faq .item {
    display: inline-block;
    width: 36vw;
    min-width: 240px;
    vertical-align: top;
}

#team img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

#team .item {
    display: inline-block;
    margin: 24px 48px;
    max-width: 180px;
    width: 84vw;
}

#sponsors .sponsor {
    display: inline-block;
    margin: 24px;
    max-width: 240px;
    vertical-align: middle;
    width: 82vw;
}

#sponsors .sponsor img {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    #header {
        margin-top: 0px;
    }
}
